@charset "UTF-8";
/* CSS Document */

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;

  text-align: center;
}

html.page { 
  background: url(../joey.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	width:1200px;
	padding:0px 0px 0px 0px;
	margin: 20px 20px;

}
body.info {
	width:960px;
	padding:0px 0px 0px 0px;
	margin: 0px;
}

body.pictures{
	width: 1300px;
}
div.center{
	margin: 10px 0px 0px 0px;
		width: 1100px;

}
img {display:inline;}

figure {diplay: inline-block;
	width:550px;
	float: left;}

p
{
    display:inline;
	font-family: 'Architects Daughter', cursive;
}
div {
	width: 1000px;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
}
p.home {
	color: #FFFFFF;	
}
	nav.other{
	color: #C9A67F;
	
}

p.info{
		display: inline;
		float: left;}
nav{
 

    margin:0;
    padding:0;
    text-align:center;
}
nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding:10px;
}
nav {
	font-family: 'Architects Daughter', cursive;
	font-size: 40px;
	width: 600px;
	text-align: center;
		margin: 0px 250px auto 300px;

	}
	
nav a {
	
	color: #FFFFFF;
	text-decoration: none;
	
	}
	nav.other a{
	color: #C9A67F;
	
}
nav a:hover {
	color: #C9A67F;
	font-size: 50px;
	text-align: center;
	margin: 0 auto;
	transition: ease-in-out 0.5s;
	
}


nav.other {
	font-family: 'Architects Daughter', cursive;
	font-size: 40px;
	width: 940px;
	text-align: center;
	margin: 0px 200px auto 100px;
	
}


div.social{
	text-align: right;
	display:block;
	padding: 0px 10px 0px 10px;
}

p.info {
	width:500px;	
	margin: 20px 0px 30px 30px;
}
img.pano{
margin: 25px 25px;

}
img.info{
	margin: 30px 0px 0px;
	
}

div.second {
	margin:30px 278px;
	width: 580px
	
}

div.pic {
	width: 500px;
	
	
}
